{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1> 🌙 Nebraska Space Grant Moon VR Simulation</h1>

    <div class="card mb-4">
        <div class="card-header bg-secondary text-light">
            <h3>What is a Moon VR Simulation?</h3>
        </div>
        <div class="card-body">
            <p>A Moon VR Simulation is an immersive virtual reality experience that allows users to explore the lunar surface. Using data from NASA and other sources, the simulation recreates the moon's environment, terrain, and features to provide an educational and engaging experience.</p>
        </div>
    </div>

</div>

{% endblock %}

